/*导航*/
body{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}
.navbar{
    /*background-color: #a0ffd3;*/
    background-image: url("../image/logo.png");
    width: 1366px;
    height: 100px;
}
.navbar-brand{
    font-family: "Bodoni MT Black";
    font-language-override: initial;
    font-size: 1.5em;
    margin-top: 50px;
    padding-left: 84px;
    color: #62b4de;
}
.navbar-form{
    margin-top: 60px;
}
.navbar a:hover{
    color: #ff2118;
}
.collapse ul.nav li a{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 50px;
    color: #0493ef;
}
/*正文页面*/
.container {
    font-size: 1em;
    padding-top: 25px;
    padding-bottom: -10px;
    margin-top: -20px;

}
/*首页中左侧登录模块*/
#container-left #login{
    background-color: white;
    margin-top: -10px;
    margin-left: -10px;
    padding-top: 20px;
    width: 90%;
    height: 260px;
}
#container-left h5{
    background-color: #a2dde8;
    width: 90%;
    height: 40px;
    padding-top: 14px;
    margin-top: -2px;
    padding-left: 20px;
    margin-left: -10px;
    color: white;
    font-family: "Baskerville Old Face";
}
#container-left label{
    margin-left: 20px;
    color: #3f3f3f;
}
#container-left .form-control{
    width: 60%;
}
#container-left #notice{
    height:200px;
    margin-left: 12px;
    margin-top: -10px;
}
#container-left  h6{
    background-color: #a2dde8;
    width: 88%;
    height: 40px;
    padding-top: 14px;
    /*margin-top: 10px;*/
    padding-left: 20px;
    color: white;
    font-family: "Baskerville Old Face";
    font-size: 14px;
}
#container-left ul{
    margin-top: -10px;
    width: 88%;
}
#container-right #work{
    height: 260px;
    background-color: white;
    margin-top: -10px;
    padding-top: 40px;
    padding-left: 10px;
    width: 101.6%;
}
#container-right ul{
    width: 98.5%;
    margin-top: -10px;
    margin-left: -1px;
}
#container-right h5 {
    /*background-color: #a6e1ec;*/
    background-color: #a2dde8;
    height: 40px;
    padding-top: 14px;
    margin-top: -2px;
    padding-left: 20px;
    margin-left: -16px;
    color: white;
    font-family: "Baskerville Old Face";
}

.container  h4{
    background-color: #ace8a2;
    margin-left: -80px;
    height: 40px;
    padding-top: 14px;
    padding-left: 20px;
    margin-top: 700px;
    width: 33.0%;
    color: white;
    font-family: "Baskerville Old Face";
}
#course ul {
    margin-left: -80px;
    color: #ace8a2;
}
#course ul li a{
    font-size: 16px;
    color: #2ce834;
}
.tab-pane{
    margin-left: -62px;
}


/*!*轮播图*!*/
/*#carousel-example-generic{*/
    /*height: 5%;*/
/*}*/
/*.carousel{*/
    /*margin-top: 50px;*/
/*}*/
/*footer底部*/
footer{
    /*background-color: #a8a8a8;*/
    background-color: #a2dde8;
    bottom: 0;
    width: 100%;
    margin-top: 40px;
}






/*!*登录界面*!*/
/*#login{*/
    /*background: url("../Images/1.jpg");*/
    /*animation-name:myfirst;*/
    /*animation-duration:12s;*/
    /*!*变换时间*!*/
    /*animation-delay:2s;*/
    /*!*动画开始时间*!*/
    /*animation-iteration-count:infinite;*/
    /*!*下一周期循环播放*!*/
    /*animation-play-state:running;*/
    /*!*动画开始运行*!*/
/*}*/
/*@keyframes myfirst*/
/*{*/
    /*0%   {background:url("../Images/1.jpg");}*/
    /*34%  {background:url("../Images/2.jpg");}*/
    /*67%  {background:url("../Images/3.jpg");}*/
    /*100% {background:url("../Images/1.jpg");}*/
/*}*/
/*#login .form{*/
    /*background: rgba(255,255,255,0.2);*/
    /*width:400px;*/
    /*margin:120px auto;}*/
/*!*阴影*!*/
/*#login .fa{*/
    /*display: inline-block;*/
    /*top: 27px;*/
    /*left: 6px;*/
    /*position: relative;*/
    /*color: #ccc;}*/
/*#login input[type="text"],input[type="password"]{*/
    /*padding-left:26px;*/
/*}*/
/*#login .checkbox{*/
    /*padding-left:21px;*/
/*}*/

/*.mycenter{*/
    /*margin-top: 100px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*height: 350px;*/
    /*width:500px;*/
    /*padding: 5%;*/
    /*padding-left: 5%;*/
    /*padding-right: 5%;*/
/*}*/
/*.mycenter mysign{*/
    /*width: 440px;*/
/*}*/
/*.mycenter input,checkbox,button{*/
    /*margin-top:2%;*/
    /*margin-left: 10%;*/
    /*margin-right: 10%;*/
/*}*/
/*.mycheckbox{*/
    /*margin-top:10px;*/
    /*margin-left: 40px;*/
    /*margin-bottom: 10px;*/
    /*height: 10px;*/
/*}*/