/*导航*/
body{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}
a{
    text-decoration: none;
}
.navbar{
    /*background-color: #a0ffd3;*/
    background: url("../images/harder.png");
    width: 100%;
    height: 152px;
}
.navbar-brand{
    font-family: "Bodoni MT Black";
    font-language-override: initial;
    font-size: 1.5em;
    margin-top: 90px;
    padding-left: 140px;
    color: #ffffff;
}
.navbar-form{
    margin-top: 98px;
    color: #5b5f61;
    padding-right: -150px;
}
.navbar a:hover{
    color: #1cbae4;
}
.collapse >ul.nav >li >a:hover{
    background-color: transparent;
    color: #1cbae4;
}
.collapse >ul.nav >li >a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 90px;
    color: #ffffff;
    font-size: 16px;
}

/*!*正文页面*!*/
.container {
    font-size: 1em;
    padding-top: 25px;
    padding-bottom: -10px;
    margin-top: -20px;

}
/*首页中左侧登录模块*/

.form-title{
    background-color: #a2dde8;
    height: 40px;
    padding-left: 40px;
    padding-top: 10px;
    color: white;
    border-radius: 10px;
    margin-bottom: 0;
    font-family: "Baskerville Old Face";

}
/*首页的登录*/
.login{
    background-color: white;
    height: 300px;
    border-radius:10px;
    padding-top: 40px;
    padding-left: 35px;
    color: #5bc0de;
    font-family: "Arial Rounded MT Bold";
    border:1px solid #dcdcdc;;
}
/*首页登录后显示个人信息*/
.personal_details{
    background-color: white;
    height: 300px;
    border-radius:10px;
    padding-top: 40px;
    padding-left: 35px;
    color: #5bc0de;
    font-family: "Arial Rounded MT Bold";
    border:1px solid #dcdcdc;;
}
.personal_details dd{
    line-height: 30px;
}
.form-group > input{
    margin-left: 20px;
    width: 64%;
    height: 34px;

}
.form-group > button{
    margin-top: 20px;
    width: 86%;

}
.checkbox{
    margin-top: 40px;
    font-size: 16px;
    margin-left: 20px;
}
.login a {
    color: #5bc0de;
    text-decoration: none;
    position: relative;
    left: -14%;
}

.login a:hover{
    color: #ff4343;
}

#notice{
    margin-top: 40px;
}

#work{
    height: 300px;
    background-color: white;
    border: 1px solid #dcdcdc;;
    margin-left: 0;
    margin-right: 0;
    padding-top: 40px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.news h4{
    margin-top: 50px;
}
#news{
    margin-left: 0;
    margin-right: 0;
}

#course{
    margin-left: 40px;
    width: 97.4%;
}

#course > .nav{
    margin-top: 40px;
    margin-left: 40px;
    color: #69ddff;
    font-size: 16px;
}
.tab-content{
    margin-left: 40px;
}
.collapse ul li a{
    height: 60px;
}
#dropdownMenu{
    background-color: transparent;
}
.dropdown-menu{
    border: none;
    min-width: 100%;
}
.dropdown-menu li a:hover{
    width: 100%;
    height: 30px;
    background: #69ddff;
    color: white;
    font-size: 16px;
    margin-top: 0;
}
footer .footer {
    background: #a2dde8;
    height: 200px;
    color: #ffffff;
    font-size: 16px;
}
.tab-pane img{
    margin-top: 50px;
    margin-left: 50px;
}

/*login*/
.loginbtn {
    width: 80px;
    height: 30px;
    line-height: 30px;
    margin-top: -50px;
    background: #8ed9f2;
    margin-right: -10%;
    text-align: center;
    float: left;
    cursor: pointer;
    color: white;
    font-size: 16px;
    border-radius: 5px;
}
.registerbtn {
    width: 80px;
    height: 30px;
    line-height: 30px;
    margin-top: -50px;
    background: #8ed9f2;
    margin-right: -20%;
    margin-left: 10px;
    text-align: center;
    float: left;
    cursor: pointer;
    color: white;
    font-size: 16px;
    border-radius: 5px;
}
.loginbtn:hover {
    background: #95e6ff;
}

.registerbtn:hover {
    background: #95e6ff;
}

nav .wp .personal {
    height: auto;
    float: right;
    position: relative;
    top: -50px;
    color: white;
    font-size: 22px;
}


nav .wp .personal .user {
    height: 40px;
    line-height: 40px;
    margin-top: 4px;
    cursor: pointer;
    margin-right: -120px;
}

nav .wp .personal .user dt {
    margin-right: 20px;
    width: 30px;
    height: 30px;
    background: #fff;
    overflow: hidden;
    border-radius: 50%;
    float: right;
}

nav .wp .personal .user dd {
    float: right;
    color: #fff;
}
nav .wp .personal a {
    color: #fff;
    font-size: 16px;
    margin-right: -240px;
    text-decoration: none;
    background: #95e6ff;
    width: 80px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    border-radius: 5px;
}

nav .wp .personal a:hover {
    background: #0093e9;
}

