/*导航*/
*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    font-family:  Menlo, Monaco, Consolas, "Courier New", monospace;
}
a{
    text-decoration: none;
}
.navbar{
    background: url("../images/harder.png");
    width: 100%;
    height: 160px;
    padding-left: 10%;
    font-size: 14px;
}
.container{
    margin-left: 0;
    margin-right: 0;
}
.navbar-brand{
    font-family: "Bodoni MT Black", fantasy;
    font-language-override: initial;
    margin-top: 90px;
    color: #ffffff;
    font-size: 1.2em;
}
.navbar-form{
    margin-top: 98px;
    color: #5b5f61;
}
.navbar a:hover{
    color: #1cbae4;
}
.collapse >ul.nav >li >a:hover{
    background-color: transparent;
    color: #1cbae4;
    cursor: pointer;
}
.collapse >ul.nav >li >a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 90px;
    color: #ffffff;
}

.collapse ul li a{
    height: 60px;
}
#dropdownMenu{
    background-color: transparent;
}
.dropdown-menu{
    border: none;
    min-width: 100%;
}
.dropdown-menu li a:hover{
    width: 100%;
    height: 30px;
    background: #69ddff;
    
    font-size: 16px;
    margin-top: 0;
}
.registerbtn {
    width: 80px;
    line-height: 30px;
    float: right;
    background: #8ed9f2;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 100px;
    font-family: 幼圆, serif;
    display:inline;

}

.registerbtn:hover {
    background: #95e6ff;

}

/* personal */
nav .personal {
    margin-top: 100px;
    
}
nav .personal .user {
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}
nav .personal .user dt {
    width: 30px;
    height: 30px;
    background: #fff;
    overflow: hidden;
    border-radius: 50%;
    margin-left: -120px;
    display:inline;
}
nav .personal a {
    color: #fff;
    font-size: 14px;
    float: right;
    text-decoration: none;
    background: #95e6ff;
    width: 70px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    border-radius: 5px;
    display:inline;
}
nav .personal a:hover {
    background: #0093e9;
}


/*!*正文页面*!*/
.container {
    font-size: 1em;
    padding-top: 25px;
    padding-bottom: -10px;
    margin-top: -20px;
}
/*首页中左侧登录模块*/
.form-title{
    background-color: #a2dde8;
    height: 40px;
    padding-left: 40px;
    padding-top: 10px;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 0;
    font-family: "Baskerville Old Face", serif;
    font-size: 18px;

}
/*首页的登录*/
.login{
    background-color: #fff;
    height: 400px;
    border-radius:10px;
    padding-top: 40px;
    padding-left: 20px;
    color: #5bc0de;
    font-family: "Arial Rounded MT Bold", cursive;
    border:1px solid #dcdcdc;;
    font-size: 16px;
}
.login .marb8 input {
    color: #5bc0de;
    font-size: 14px;
    width: 60%;
    border-radius: 5px;
}
.login .marb20 input {
    color: #5bc0de;
    font-size: 14px;
    width: 60%;
    border-radius: 5px;
}
/*首页登录后显示个人信息*/
.personal_details{
    background-color: #fff;
    height: 400px;
    border-radius:10px;
    padding-top: 40px;
    padding-left: 40px;
    font-family: "Arial Rounded MT Bold", cursive;
    border:1px solid #dcdcdc;
    color: #8a8a8a;
    font-size: 16px;
}
.personal_details img{
    height: 100px;
    width: 80px;
    margin-bottom: 10px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}
.personal_details dd{
    line-height: 30px;
}
/*from-group*/
.form-group > input{
    margin-left: 10px;
    height: 34px;
}
.form-group > button{
    margin-top: 20px;
    width: 86%;
}
/*login*/
.checkbox{
    margin-top: 40px;
    font-size: 16px;
    margin-left: 20px;
}
.login a {
    color: #5bc0de;
    text-decoration: none;
    position: relative;
    left: -14%;
}

.login a:hover{
    color: #ff4343;
}
.error{
    color: #ff6f72; !important;
    text-align: center;
    line-height: 40px !important;
    margin:10px 10px;
}
#notice{
    margin-top: 40px;
}

#work{
    height: 400px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    margin-left: 0;
    margin-right: 0;
    padding-top: 40px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#work img{
    width: 300px;
    height: 300px;
}
/*news*/
.news h4{
    margin-top: 40px;
}
#news{
    margin-left: 0;
    margin-right: 0;
}
/*course*/
#course{
    margin-left: 40px;
    width: 97.4%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 2em;
}

#course > .nav{
    margin-top: 40px;
    margin-left: 40px;
    color: #69ddff;
    font-size: 16px;
}
.tab-content{
    margin-left: 40px;
}
.tab-pane h3{
    margin: 20px 0;
}
.tab-pane img{
    margin-top: 50px;
    margin-left: 50px;
}

/*foot*/
footer .footer {
    width: 100%;
    background: #a2dde8;
    height: 200px;
    font-size: 14px;
    line-height: 10px;
}
.footer li p{
    padding-bottom: 10px;
}
.footer .fr{
    margin-top: -10px;
    font-size: 16px;
}
footer .footer .nav {
    width: 500px;
    height: 30px;
    margin: 0 auto;
    font-size: 16px;
}

footer .footer .nav li {
    float: left;
    border-right: 1px solid #fff;
    display:inline;
}

footer .footer .nav li:last-child {
    border: 0;
}

footer .footer .nav a {
    color: #fff;
    padding: 30px;
}

footer .footer .nav a:hover {
    text-decoration: underline;
}

footer .footer .cont {
    height: 140px;
    padding: 20px;
    margin-top: 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 16px;

}

footer .footer .cont li {
    width: 33.3%;
    float: left;
    display:inline;
}

footer .footer .cont .code {
    text-align: center;
}

footer .footer .cont .third {
    text-align: left;
    float: right;
    width: 250px;
    margin-top: 35px;
    display:inline;
}

footer .footer .cont .third img {
    margin-right: 10px;
}



footer .footer .links {
    height: auto;
    overflow: hidden;
}

footer .footer .links span {
    float: left;
    color: #717171;
    margin: 5px;
    display:inline;
}

footer .footer .links li {
    float: left;
    margin: 5px;
    display:inline;
}

footer .footer .links a {
    color: #717171;
}

footer .footer .links a:hover {
    text-decoration: underline;
}

/*!*feature*!*/
.feature {
    height: 125px;
    border: 1px solid #ccc;
    margin-bottom: 30px;
}
.feature li {
    float: left;
    height: 90px;
    margin-top: 17px;
    border-left: 1px dashed #ccc;
    position: relative;
    display:inline;
}
.feature li:first-child {
    border: 0;
}

.feature .center {
    margin-top: 70px;
    color: #464646;
}

.feature .pic {
    position: absolute;
    top: 20px;
    left: 125px;
    transition: all 0.5s ease 0s;
}

.feature li:hover .pic {
    -webkit-animation: swing .4s .2s ease both;
    -moz-animation: swing .4s .2s ease both;
}

/*course相关样式*/

.content{
    border:1px solid #dcdcdc;
    height: 200px;
    line-height: 30px;
    padding-left: 20px;
    margin-bottom: 30px;
    padding-top: 5px;
    color: #8a8a8a;
    font-size: 16px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    border-radius: 10px;
}
.message{
    border:1px solid #dcdcdc;
    width: 100%;
    height: 800px;
    border-radius: 10px;
    padding-left: 40px;
    padding-top: 40px;
    margin-bottom: 40px;
}
.message a{
    color: #8a8a8a;
    font-size: 16px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    line-height: 70px;
    text-decoration: none;
}
.message a:hover{
    color: #8ed9f2;
}
.course_list{
    border:1px solid #dcdcdc;
    width: 100%;
    border-radius: 10px;
}
.course_list dl{
    height: 280px;
    background-color: #e3f1ff;
    border-radius: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.course_list img{
    width: 200px;
    height: 200px;
    transition: all 0.5s ease 0s;
    display: block;
    margin: 0 auto;
}
.course_list img:hover{
    -webkit-animation: swing .4s .2s ease both;
    -moz-animation: swing .4s .2s ease both;
}
.course_list dt{
    font-size: 1.2em;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    padding: 10px;
    display: block;
    margin: 0 auto;
    
}
.course_list dt a{
    color: #b3c5cb;
    text-decoration: none;
}
.course_list dt a:hover{
    color: red;
    font-size: 16px;
}

.pagination ul li {
    float: left;
    background-color: #7fd5ee;
    width: 70px;
    height: 30px;
    text-align: center;
    margin-left: 5px;
    padding-top: 8px;
    margin-top: 50px;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 0;
    display:inline;
}
.pagination a{
    text-decoration: none;
    color: white;
}
.pagination li:hover{
     background-color: #c4d6dc;
}
.pagination .active{
     background-color: #c4d6dc;
}


/*留言部分*/
.guestbook_message{
    margin-top: 30px;
}
.myself{
    height: 300px;
    margin-left: 20px;
    background: #ffffff;
    width: 20%;
    margin-right: 40px;
    border-radius: 30px;
    font-size: 16px;
    font-family: '等线 Light', monospace;
    border: 1px solid #dcdcdc;
}
.myself img{
    width: 120px;
    height: 80px;
    margin-top: 20px;
    margin-left: 30px;
}
.myself dt{
    padding-top: 20px;
    padding-left: 20px;
    line-height: 30px;
}
textarea{
    width: 100%;
    height: 210px;
    border-radius: 10px;
}
.guestbook_content input{
    width: 80px;
    height: 30px;
    margin-top: 15px;
    border-radius: 5px;
    background: #8ed9f2;
    font-size: 14px;
    font-weight: bold;
}
.guestbook_content label {
    float: right;
    font-size: 14px;
    font-weight: inherit;
    display:inline;
}
.guestbook_content label input{
    width: 180px;
    height: 30px;
    background: white;
}
.guestbook .fl{
    margin-top: 30px;
    height: 30px;
    width: 80%;
    padding-left: 10px;
}
.guestbook img{
    width: 30px;
    height: 30px;
}
.guestbook{
    border: 1px solid #dcdcdc;
    height: 500px;
    width: 20%;
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 50px;
    background: #ffffff;
    padding-left: 2%;
    overflow: hidden;
}
.guestbook h3{
    margin-top: 80px;
    background: whitesmoke;
    width: 120%;
    height: 40px;
    padding: 15px;
    margin-left: -30px;
    font-size: 14px;
    color: #f56152;
}
.guestbook li{
    margin-top: 10px;
    font-size: 14px;
}
.guestbook .search_btn {
    background: #42baff;
    cursor: pointer;
    position: absolute;
    right: 12%;
    top: 6%;
}
.guestbook_list{
    margin-left: 3.2%;
    margin-top: 50px;
    height: 500px;
    border: 1px solid #dcdcdc;
    background: #ffffff;
    font-size: 14px;
    width: 73.2%;
    overflow: hidden;
}
.guestbook_list h2{
    background: whitesmoke;
    height: 50px;
    width: 120%;
    padding: 20px;
    margin-left: -20px;
    margin-bottom: 20px;
    color: #00c6ff;
}
.guestbook_list .pagination{
    position: absolute;
    bottom: 0;
    right: 0;
}
.guestbook_list ul li{
    border-bottom:1px #dcdcdc solid;
    padding-bottom: 20px;
    padding-top: 10px;
}
.guestbook_list .contents{
    width: 84%;
    margin-left: 20px;
    overflow: hidden;
    padding-left: 10px;
    text-overflow: ellipsis;
    white-space:nowrap;
    text-align: center;
}
.guestbook_list .time{
    width: 10%;
    float: right;
    text-align: center;
    display:inline;


}



/*课程列表*/
/*banner*/
.banner {
    height: 320px;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    /*background: #f6f6f6;*/
    /*border-bottom: 1px solid #f6f6f6;*/
    padding-top: 10px;
}

/*.banner*/
.banner .fl {
    position: relative;
    height: 300px;
    width: 1200px;
}

/*焦点图 CSS*/
.imgslide {
    height: 478px;
    width: 880px;
    position: relative;
    overflow: hidden;
}

.imgslide li,
.imgslide2 li,
.imgslide3 li,
.imgslide4 li,
.imgslide5 li {
    float: left;
    display:inline;
}

.unslider-arrow,
.unslider-arrow2,
.unslider-arrow3,
.unslider-arrow4,
.unslider-arrow5 {
    position: absolute;
    top: 45%;
    cursor: pointer;
    z-index: 100;
    width: 33px;
    height: 50px;
}

.unslider-arrow.prev,
.unslider-arrow2.prev,
.unslider-arrow3.prev,
.unslider-arrow4.prev,
.unslider-arrow5.prev {
    left: 0;
    background: url(../images/slide_l.png) no-repeat center center;
}

.unslider-arrow.prev:hover,
.unslider-arrow2.prev:hover,
.unslider-arrow3.prev:hover,
.unslider-arrow4.prev:hover,
.unslider-arrow5.prev:hover {
    background: url(../images/slide_l_1.png) no-repeat center center;
}

.unslider-arrow.next,
.unslider-arrow2.next,
.unslider-arrow3.next,
.unslider-arrow4.next,
.unslider-arrow5.next {
    right: 0;
    background: url(../images/slide_r.png) no-repeat center center;
}

.unslider-arrow.next:hover,
.unslider-arrow2.next:hover,
.unslider-arrow3.next:hover,
.unslider-arrow4.next:hover,
.unslider-arrow5.next:hover {
    background: url(../images/slide_r_1.png) no-repeat center center;
}

.imgslide .dots,
.imgslide2 .dots,
.imgslide3 .dots,
.imgslide4 .dots,
.imgslide5 .dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 80px;
    margin-left: -40px;
}
.imgslide .dots{
    width:110px;
    margin-left:-55px;
}

.imgslide .dots li,
.imgslide2 .dots li,
.imgslide3 .dots li,
.imgslide4 .dots li,
.imgslide5 .dots li {
    float: left;
    margin: 5px;
    background: #fff;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    display:inline;
}

.imgslide .dots .active,
.imgslide2 .dots .active,
.imgslide3 .dots .active,
.imgslide4 .dots .active,
.imgslide5 .dots .active {
    background: #717171 !important;
    color: #717171 !important;
}

.banner .fr {
    width: 310px;
    height: 100%;
    position: relative;
}

.banner .top {
    background: #fff;
    height: 340px;
    border: 1px solid #f0f0f0;
    text-align: center;
}

.banner .fr .head {
    height: 78px;
    background: #95ddff;
}

.banner .fr .center {
    line-height: 100%;
}

.banner .fr h1 {
    color: #fff;
    font-size: 24px;
    padding-top: 20px;
}

.banner .fr p {
    padding-top: 5px;
    color: #f3f3f3;
}

.banner .fr form {
    position: relative;
}

.banner .fr input {
    text-indent: 40px;
    width: 265px;
    padding: 7px 0;
    line-height: 24px;
    border: 1px solid #c6c6c6;
    border-radius: 3px;
    margin: 5px auto;
}

.banner .fr .icon1 {
    background: url(../images/banner_icon1.png) no-repeat 8px center;
}

.banner .fr .icon2 {
    background: url(../images/banner_icon2.png) no-repeat 8px center;
}

.banner .fr .icon3{
    background: url(../images/banner_icon3.png) no-repeat 8px center;
}

.banner .fr .demand_form_tips {
    position: absolute;
    width: 100%;
    padding: 0;
    font-size: 14px;
    color: #ff8400;
    display: none;
}

/*
.banner .fr .vali{position: relative;width: 265px;line-height: 40px;height: 40px;border: 1px solid #c6c6c6; border-radius: 3px;left:18px;top: 140px;margin: 10px 0;}
*/
.banner .fr .submit {
    margin-top: 28px;
    border-radius: 0;
    border: 0;
    color: #fff;
    text-indent: 0;
    font-size: 14px;
    top: 230px;
    background: #ff9d33 url(../images/banner_icon4.png) no-repeat 70% center;
    cursor: pointer;
}

.banner .fr .submit:hover {
    background: #ff8400 url(../images/banner_icon4.png) no-repeat 70% center;
}

.banner .bottom {
    width: 290px;
    background: #fff;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #f0f0f0;
}

.banner .bottom h1 {
    font-size: 16px;
    color: #545454;
    padding-top: 10px;
}

.banner .bottom ul {
    width: 270px;
    padding-left: 20px;
    margin-top: 15px;
    overflow: hidden;
}

.banner .bottom li {
    line-height: 25px;
    list-style: disc;
    color: #999;
}

.banner .bottom a {
    color: #999;
}

.banner .bottom .more {
    color: #717171;
    font-size: 12px;
    float: right;
    display:inline;
}

/*教师列表*/
.teacher_list dl{
    height: 240px;
    width: 240px;
    background: white;
    display: block;
    margin: 0 auto;

}
.teacher_list img{
    height: 200px;
    width: 200px;
    padding: 40px;
    display: block;
    margin: 0 auto;

}
.professor{
    margin: 0 auto;
    width: 100%;
    height: 240px;
}
